body{background:rgb(66, 66, 250);}
div#divgeral{background:white; width:800px; height:200px; position:absolute; left:500px; 
    border-radius: 10px; box-shadow: 5px 5px 10px rgba(26, 24, 24, 0.233);padding:15px; margin: auto;}