body{
    background:rgb(70,142,236);
    font: normal 15pt Arial; 
    }
    
    header{
    color:white;
    text-align:center;
    }
    
    section{
    background: white; border-radius:10px;
    padding:15px;
    width:600px;
    height:500px;
    
    margin:auto;
    box-shadow: 5px 5px 10px rgba(26, 24, 24, 0.233);
    }
    
    footer{ color:white;
        text-align:center;
        font-style:italic;
    
    }
    
    div#exibir{position:relative; top:70px; text-align: center;}